.btn-primary {
  background-color: #174350 !important;
  border: 1px solid #174350 !important;
  border-radius: 0px !important;
}
.left{
    width:100%
}

@media screen and (min-width: 320px) and (max-width: 500px) {
	.DataAnalysisFilterSide ul {
        padding-inline-start: 10px;
        display:block;
        list-style-type: none;
    }
    .DataAnalysisFilterSide ul li {
        padding:10px;
    }
}