.DataAnalysisToolBar {
    border-bottom: 1px solid #b9b9b9 !important;
    padding:8px !important;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .DataAnalysisToolBar {
        border-bottom: 0px solid #b9b9b9 !important;
    }
}