.Overview {
    padding: 20px 0px 20px 20px;
    border-left: 1px solid #b9b9b9;
    
}
.OverviewHeader {
    border-bottom: 1px solid #b9b9b9;
    padding:10px;
    font-size: 18;
    color:#174350;
    font-style: 'Myriad pro Semibold';
    font-weight: 600;
    
}
.OverviewContent {
    height:500px;
    overflow-y: scroll;
}
.DataAnalysis p {
  font-style: italic;
}
DataanalysisHeading {
    font-weight: bold !important;
    color: #174350;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
	.Overview {
		border-left: 0px;
    }
    .OverviewContent {
        height:500px;
        overflow-y: scroll;
    }
}
