.Header {
    background-color: #f8f8f8;
    padding:15px;
}
input[type='text'] {
    border: 0px;
    background-color: #f8f8f8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .Header {
        padding:0px !important;
    }
    input[type='text'] {
        width:125px;
        font-size:12px;
    }
    .IntelligenceCenterLogo {
        text-align: center !important;
        padding: 10px;
        border-bottom:1px solid #b9b9b9;
    }
    .Search img {
        width: 15px;
        height:15px;
    }
    .Notification img {
        width:25px !important;
        padding-right:10px;
        height:25px !important;
    }
    .Search {
        padding: 10px;
    }
    .Notification {
        padding-top: 10px;
    }
}