.NavBar {
    background-color: #174350;
    padding:20px !important;
}
.NavBar-InterStateMono {
    color: #ffffff !important;
}
.NavBar-InterstateMonoLgt {
    color: #739081 !important;
}
.NavBar-DropDown {
    color: #c1cbce !important;
}
.NavBar ul li {
    padding: 10px;
}
.navbar-toggler{
    border: none !important
 }
@media screen and (max-width: 413px) {
    .NavBar {
        padding:5px !important;
    }
    .NavBar img {
        width:185px !important;
        height:30px;
        padding-left:10px;
    }
    .navbar-toggler{
       font-size:15px !important;
    }
    .NavBar ul li {
        font-size:15px;
    }

  }