.SubHeader {
    border-bottom: 1px solid #b9b9b9 !important;
    padding:18px !important;
}
.SubHedaer ul li a {
    color: #313133 !important;
    opacity: 60%;
}
.subheader-active
{
  border-bottom: 1px solid black;
}  
.nav-link {
    display: inline !important;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    padding-left: 25px;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .subheader-active
    {
      border-bottom: 0px solid black;
      font-weight: bold;
    } 
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .subheader-active
    {
      border-bottom: 0px solid black;
      font-weight: bold;
    } 
}
