.CompanyOverview {
    padding: 20px 0px 20px 20px;
    border-left: 1px solid #b9b9b9;
    
}
.CompanyOverviewHeader {
    border-bottom: 1px solid #b9b9b9;
    padding:10px;
    font-size: 18;
    color:#174350;
    font-style: 'Myriad pro Semibold';
    font-weight: 600;
}
.CompanyOverviewContent {
    height:500px;
    overflow-y: scroll;
}
.CompanyHeaderImage {
    padding: 30px;
}
.CompanyOverview ul li {
    font-style: italic;
    padding-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
	.CompanyOverview {
		border-left: 0px;
    }
    .CompanyImage {
        width:200px;
    }
}