.SideNav {
    padding:10px;
}
.SideNav ul {
    list-style: none;
}
.SideNav ul li {
    padding: 10px 8px;
    font-weight: bold;
    color:#174350;
    font-size: 16px;
}
.SideNav-li-1 {
  font-size: 18px !important;
  color:#174350;
  padding-bottom:30px !important;
  font-weight: bold;
}
.Active-li {
    background-color: rgba(87, 196, 200, 0.3) !important;
}
